<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ICommentDao" >
  <resultMap id="BaseResultMap" type="com.entity.Comment" >
    <id column="comment _id" property="commentId" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="fraction" property="fraction" jdbcType="VARCHAR" />
    <result column="day" property="day" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.entity.Comment" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    "comment _id", uid, pid, fraction, day
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where "comment _id" = #{commentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where "comment _id" = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Comment" >
    insert into comment ("comment _id", uid, pid, 
      fraction, day, content
      )
    values (#{commentId,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{fraction,jdbcType=VARCHAR}, #{day,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Comment" >
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        "comment _id",
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="fraction != null" >
        fraction,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commentId != null" >
        #{commentId,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="fraction != null" >
        #{fraction,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Comment" >
    update comment
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="pid != null" >
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="fraction != null" >
        fraction = #{fraction,jdbcType=VARCHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where "comment _id" = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.entity.Comment" >
    update comment
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      fraction = #{fraction,jdbcType=VARCHAR},
      day = #{day,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where "comment _id" = #{commentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Comment" >
    update comment
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      fraction = #{fraction,jdbcType=VARCHAR},
      day = #{day,jdbcType=TIMESTAMP}
    where "comment _id" = #{commentId,jdbcType=INTEGER}
  </update>
</mapper>