<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IGive_productDao" >
  <resultMap id="BaseResultMap" type="com.entity.Give_product" >
    <id column="give_product_id" property="giveProductId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    give_product_id, name, num, img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    *
    from give_product
    where give_product_id = #{giveProductId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from give_product
    where give_product_id = #{giveProductId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Give_product" >
    insert into give_product ("give_product_id", name, num,
      img)
    values (#{giveProductId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Give_product" >
    insert into give_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="giveProductId != null" >
        "give_product_id",
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="img != null" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="giveProductId != null" >
        #{giveProductId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Give_product" >
    update give_product
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where "give_product_id" = #{giveProductId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Give_product" >
    update give_product
    set name = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      img = #{img,jdbcType=VARCHAR}
    where "give_product_id" = #{giveProductId,jdbcType=INTEGER}
  </update>
</mapper>